<html>
<head>
	<title><%=weapons[weapon].name%> - Combos - brawl-db</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/c_styles.css">
</head>
<body>
	<div id="header">
		<p> brawl-db </p>
		<div class="buttons">
			<a href="/"><div class="button">Legends</div></a>
			<a href="/w"><div class="button selected">Weapons</div></a>
			<a href="/s"><div class="button">Stats</div></a>
		</div>
	</div>
	<h2> <%=weapons[weapon].name%> Combos </h2>
	<div class="c_combos">
		<% for (var i in combos) { %>
			<div class="c_combo">
				<% var c = combos[i]; %>
				<img src="/img/ComboDifficulty<%=c.d%>.png">
				<div class="c_syntax">
					<% var segments = c.s; %>
					<% for (var j in segments) {
						var segment = segments[j];
						var pieces = segment instanceof Array ? segment : [segment]; %>
						<div class="c_segment">
							<% for (var k in pieces) {
								var p = pieces[k]; %><div class="c_piece
										<% for (var l in combo_segment_colors) { 
										    var o = combo_segment_colors[l];
											var condition = o.if;
											var color = o.then; %>
											<% if (p.includes(condition)) { %>
												<%=color%> 
											<% break; } %>
										<% } %>
									">
									<%=p%>
									<% var hover_text = combo_segment_hovers[p]; %>
									<% if (hover_text) { %>
										<div class="c_hover-text">
											<%=hover_text%>
										</div>
									<% } %>
								</div
							><% } %>
						</div>
					<% } %>
				</div>
			</div>
		<% } %>
	</div>
</body>
</html>