<html>
<head>
	<title><%=legend%> - brawl-db</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div id="header">
		<p> brawl-db </p>
		<div class="buttons">
			<a href="/"><div class="button">Legends</div></a>
			<a href="/w"><div class="button selected">Weapons</div></a>
			<a href="/s"><div class="button">Stats</div></a>
		</div>
	</div>
	<h2> Welcome to <%=legend%> </h2>
	<b> Exclusive combos do exist... </b><br><br>
	<% for (var weapon in weapons) { %>
		<% var combos = weapons[weapon] %>
		<u> <%= weapon %> </u><br><br>
		<% for (var i in combos) { %>
			<% var c = combos[i] %>
			<%= c.s %><br>
			(<%= c.f %>)<br>
			difficulty: <%= c.d %><br><br>
		<% } %>
	<% } %>
</body>
</html>