<html>
<head>
	<title><%=weapons[weapon].name%> - Combos - brawl-db</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/c_styles.css">
</head>
<body>
	<div id="header">
		<p> brawl-db </p>
		<div class="buttons">
			<a href="/"><div class="button">Legends</div></a>
			<a href="/w"><div class="button selected">Weapons</div></a>
			<a href="/s"><div class="button">Stats</div></a>
		</div>
	</div>
	<h2> <%=weapons[weapon].name%> </h2>
	<p><b> Combos... </b></p>
	<% for (var i in combos) { %>
		<div class="c_combo">
			<% var c = combos[i] %>
			<img src="/img/ComboDifficulty<%=c.d%>.png">
			<div class="c_syntax">
				<% for (var j in c.s) { %>
					<% var s = c.s[j]; %>
					<% if (s instanceof Array) { %>
						<span class="c_segment"><% for (var k in s) { var seg = s[k] %><span class="c_hover"><%=seg%><%if(k<s.length-1){%>:<%}%><% for (var condit in combo_hovers) { var hover = combo_hovers[condit]; %><% if (seg == condit) { %><span class="c_hover-text"><%=hover%></span><% } %><% } %></span><% } %></span>
					<% } else { %>
						<span class="c_segment">
							<span class="c_hover">
								<%=s%><%for (var condition in combo_hovers) {%><% var hover = combo_hovers[condition]; if (s == condition) { %><span class="c_hover-text"><%=hover%>
							</span><% } %><%}%></span></span>
					<% } %>
				<% } %>
			</div><br>
			difficulty: <%= c.d %><br><br>
		</div>
	<% } %>
</body>
</html>