<html>
<head>
	<title><%=weapon%> - Combos - brawl-db</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/c_styles.css">
</head>
<body>
	<div id="header">
		<p> brawl-db </p>
		<div class="buttons">
			<a href="/"><div class="button">Legends</div></a>
			<a href="/w"><div class="button selected">Weapons</div></a>
			<a href="/s"><div class="button">Stats</div></a>
		</div>
	</div>
	<h2> <%=weapon%> </h2>
	<p><b> Combos... </b></p>
	<% for (var i in combos) { %>
		<div class="c_combo">
			<% var c = combos[i] %>
			<div class="c_syntax">
				<% for (var j in c.s) { %>
					<% var s = c.s[j]; %>
					<span class="c_segment">
						<span class="c_hover">
							<%=s%>
							<% if (s == "gc") { %>
								<span class="c_hover-text">Gravity Cancel</span>
							<% } %>
						</span>
					</span>
				<% } %>
			</div><br>
			difficulty: <%= c.d %><br><br>
		</div>
	<% } %>
</body>
</html>