<html>
<head>
	<title><%=weapons[weapon].name%> - brawl-db</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div id="header">
		<p> brawl-db </p>
		<div class="buttons">
			<a href="/"><div class="button">Legends</div></a>
			<a href="/w"><div class="button selected">Weapons</div></a>
			<a href="/s"><div class="button">Stats</div></a>
		</div>
	</div>
	<h2> Welcome to <%=weapons[weapon].name%> </h2>
	This is a weapon.<br>
	you can look at its combos by clicking <a href="/c/<%=weapon%>">here</a>
	<div id="footer">© brawl-db 2017+</div>
</body>
</html>