.c_combo {
	margin: 20px;
}

.c_syntax {

}

.c_segment {
	padding: 5px;
	border: 2px solid #666;
	border-radius: 2px;
	background-color: white;
	font-size: 14px;
	font-weight: 600;
	font-family: courier;
}