.c_combos {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}

.c_combo {
	position: relative;
	height: 33px;
	margin: 20px;
}

.c_combo img {
	position: absolute;
	top: 6px;
	left: 6px;
}

.c_syntax {
	position: absolute;
	top: 7px;
	left: 52px;
	height: 33px;
}

.c_segment {
	margin-right: 5px;
	padding: 6px 12px;
	color: white;
	background-color: #888;
	border-radius: 30px;
	cursor: pointer;
}

.c_segment.air {
	background-color: #4a9dc1;
}

.c_segment.blue {
	background-color: #1e85b2;
}

.c_segment.darkblue {
	background-color: #0c3547;
}

.c_segment.orange {
	background-color: #E59400;
}

.c_segment.red {
	background-color: #B31E1E;
}

.c_hover {
	white-space-collapsing:discard;
	position: relative;
	font-family: inherit;
}

.c_hover-text {
	display: inline-block;
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
	top: -35px;
	left: -7.5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 2px;
	background: #111;
	color: white;
	font-family: inherit;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.4s, visibility 0s 0.4s, top 0.4s;
}

.c_hover:hover .c_hover-text {
	visibility: visible;
	opacity: 1;
	top: -50px;
	transition: opacity 0.3s, top 0.3s;
}

.c_hover-text::after {
	content: '';
	position: absolute;
	top: 26px;
	left: 8px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid #111;
}

.c_hover-text::before {
	content: '';
	position: absolute;
	top: 26px;
	left: 6px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 11px solid black;
}