.i_h {
	display: block;
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.i_wrapper {
	width: 100%;
}

.i_left {
	width: 100px;
	padding: 20px;
	float: left;
}

.i_right {
	width: calc(100% - 180px);
	padding: 20px;
	float: left;
}

.i_item {
	display: inline-block;
	width: 100px;
	background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.i_item img {
	width: 100px;
	height: 100px;
}

.i_item p {
	padding: 5px;
	background-color: #111;
	color: white;
	text-align: center;
	font-size: 14px;
}

.i_weapon {
	position: relative;
	width: 256px;
	margin-bottom: 10px;
	height: 48px;
	background-color: #111;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), transform 0.3s;
	cursor: pointer;
}

.i_weapon img {
	position: absolute;
	top: 8px;
	left: 8px;
	height: 28px;
	border: 2px solid white;
}

.i_weapon .text {
	position: absolute;
	top: 0px;
	left: 52px;
	width: calc(100% - 52px);
	font-size: 14px;
	line-height: 48px;
	color: white;
	transition: color 0.3s;
	z-index: 1092;
}

.i_weapon .btn-white {
	position: absolute;
	top: 4px;
	right: 8px;
	z-index: 1093;
}

.i_weapon:hover .text {
	color: orange;
}

.i_weapon:hover {
	box-shadow: 0 -7px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.i_weapon:active {
	transform: scale(0.9);
}

.i_stat {
	position: relative;
	width: 175px;
	margin-bottom: 0px;
	height: 28px;
	background-color: #111;
}

.i_stats .i_stat:nth-child(2) {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.i_stats .i_stat:nth-child(5) {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.i_stat img {
	position: absolute;
	top: 6px;
	left: 6px;
}

.i_stat .text {
	position: absolute;
	top: 0px;
	left: 32px;
	width: calc(100% - 52px);
	font-size: 14px;
	line-height: 28px;
	color: white;
	transition: color 0.3s;
	z-index: 1092;
}

.i_stat .color_red {
	color: #D2362F;
}

.i_stat .color_yellow {
	color: #C7C64C;
}

.i_stat .color_blue {
	color: #4788E2;
}

.i_stat .color_purple {
	color: #9273B7;
}

.i_stat .color_dark_red {
	color: darkred;
}

.i_stat .color_dark_yellow {
	color: darkgreen;
}

.i_stat .color_dark_blue {
	color: darkblue;
}

.i_stat .color_dark_purple {
	color: purple;
}

.i_stat_value {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 20px;
	border-radius: 2px;
	background-color: white;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	font-weight: 700;
	z-index: 1093;
}